.htaccess
.DS_Store
/secure
/shc/config
/node_modules
/shc/node_modules
/shc/config/credentials.json
/shc/config/ventilation.json
/shweb/firmware
/yc/examples
/yc/node_modules
/yc/node_test
/yc/hub/node_modules
