.htaccess
.DS_Store

/node_modules

/shc/config
/shc/node_modules

/shweb/firmware
/shweb/API/1.2/config
/shweb/include/api.js

/houseAPI/node_modules
/houseAPI/.keys
/houseAPI/config

/recorder/node_modules
/recorder/config

/shweb-react-app/public/data
