.temp-big
{
        font-size: 48px;
        padding-right: 48px;
        padding-left: 6px;
}

.temp-warm
{
        color: green;
}

.temp-cold
{
        color: blue;
}
.mains-on
{
        color: green;
}
.mains-off
{
        color: red;
}
.power-val
{
        font-size: 24px;
        color: rgb(255, 162, 0);;
}
.status-val
{
        font-size: 36px;
        font-weight: normal;
}
.c3-chart-arcs-background
{
        fill: #e0e0e0;
}
.c3-chart-arc text {
        fill: rgb(255, 162, 0);
}
.c3-chart-arcs-gauge-min {
        fill: gray;
}
.c3-chart-arcs-gauge-max {
        fill: gray;
}
.c3-legend-item {
        fill: white;
}
