.datatable .error {
    background-color: yellow;
}
.datatable .failure {
    background-color: red;
}

.datatable {
	width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}

.datatable .leftalign {
	text-align: left;
}

.datatable .centeralign {
	text-align: center;
}

.datatable tr {
	text-align: right;
}

.datatable td {
	border: 1px solid black;
	padding: 2px;
}

.datatable th {
	border: 1px solid black;
	text-align: right;
	padding: 2px;
	background-color: #c0c0c0;
}

.datatable .lb {
	border-left: 2px solid black;
}

.datatable .rb {
	border-right: 2px solid black;
}
