# copy this file to /lib/systemd/system/
# note: check all directores layout first!

[Unit]
Description=Shden Yandex IoT Cloud Hub Service
After=network-online.target

[Service]
Restart=on-failure
WorkingDirectory=/home/den/Shden/yc/hub
ExecStart=/usr/bin/node /home/den/Shden/yc/hub/hub.js localhost hubuser hubuser

[Install]
WantedBy=multi-user.target